@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    box-sizing: border-box;
}

body {
    font-family: 'lato', sans-serif;
    overflow-x: hidden;
    background-color: #333;
    color: #222;
    margin: 0;
} 
.main img {
   max-width: 100%;
}

.main {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.4s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 40px;

}
.main.show-nav {
    transform: rotate(-20deg);
}

.sub-main {
    position: fixed;
    top: -100px;
    left: -100px;
     
}

.shape {
    background-color: #edb009;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;
}

.shape button{
    position: absolute;
    top: 50%;
    left: 60%;
    height: 100px;
    background: transparent ;
    border:0;
    font-size: 26px;
    color:#fff;
    cursor: pointer;
}

.shape button:focus {
    outline:none;

}

.shape button#open {
    left: 60%;
}

.shape button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left; 

}

